/* body styles */ 
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFDEE;
}

/* styles for logo */ 
.navbrand {
  position: absolute;
  top:0%;
  /* width: 132rem; */
  width:fit-content;
  padding-top: 2%;
  padding-left: 2%;
  background-color: #11182B;
}

.accountDetails {
  padding-top: 2%;
}

/* main type styles */ 
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #11182B;
  padding-bottom: 2%;
  padding-top: 1.5%;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #11182B;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

/* navbar header styles */ 
.navbar {
  background-color: #11182B;
}

/* button styles */ 
.btn-primary {

/* buttonDesign */

box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 1.2rem;
/* gap: 26px; */

/* position: absolute; */
width: 280px;
/* height: 72px;
left: -104px;
top: 417px; */

background: #B36855;
border: 1px solid #11182B;
border-radius: 6px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: .8rem;
text-transform:uppercase;

}


.btn-primary:hover {
  background: #A8482F;
  border: 1px solid #11182B;
}

.topText {
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
  padding-top: 3%;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 140%;
/* or 45px */
  letter-spacing: 0.2px;
  color: #363B34;
}

/* heroSection styles */ 
#heroSection {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #363B34;
  text-align: left;
  width: 90%;
  margin: auto;
  
}

#heroCTA {
  padding: 2rem;
  height: 22rem;
}

#heroImage {
  object-fit:contain;
  background-image: url(/images/heroHomepageImage.jpg);
}

#SendClothesSectionCTA {
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
  padding-top: 3%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
  color: #363B34;
}

#shopCategories {
  width: 90%;
  margin: auto;
}

#howItWorks {
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
  padding-top: 3%;
  align-self:center;

}

.whySwap {
  padding-bottom: 3%;
  padding-top: 3%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  width: 90%;
  margin: auto;
  color: #11182B;
}

#swappingPlans {
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
  padding-top: 3%;
  align-self:center;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  /* padding: 10px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/* Styles for MegaDropdown */

.megamenu {
  background: #11182B;
  z-index: 15;
}
.megamenu .megamenu-nav {
  padding: 0;
  margin: 0;
}
.megamenu .megamenu-nav .nav-item {
  display: block;
}
.megamenu .megamenu-nav .nav-item.is-open > .megamenu-content {
  visibility: visible;
  opacity: 1;
}
.megamenu .megamenu-nav .nav-item.is-open > .nav-link {
  /* background: #fff; */
  color: #BF8C7F;
}
.megamenu .megamenu-nav .nav-link {
  color: #fff;
  padding: 15px 30px;
}
.megamenu .megamenu-nav .nav-link:hover {
  /* background: #fff; */
  color: #BF8C7F;
}
.megamenu .megamenu-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 54px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  z-index: 14;
  transition: all .3s ease-in-out;
}
.megamenu .megamenu-content .container {
  padding: 45px 15px;
}
.megamenu .megamenu-content .subnav {
  margin: 0;
  padding: 0;
}
.megamenu .megamenu-content .subnav-item {
  display: block;
}
.megamenu .megamenu-content .subnav-item .subnav-link {
  padding: 10px 0;
  display: block;
}

.megamenu-background {
  background: #fff;
  position: absolute;
  left: 0;
  top: 54px;
  right: 0;
  height: 0;
  transition: all .3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  z-index: 13;
}

.megamenu-dim {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 54px;
  visibility: hidden;
  opacity: 0;
  z-index: -12;
  transition: all .3s ease-in-out;
}
body.megamenu-visible .megamenu-dim {
  z-index: 12;
  visibility: visible;
  opacity: 1;
}

